* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #263138;
}

/* HEADER - Menu */
.menu {
    background-color: #ff9a6c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 80px;
}

.menu nav a {
    color: #fff;
    font-weight: 600;
    padding: 20px;
    text-decoration: none;
}

/* Fixar Menu- Topo */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* O header ocupa 100% da tela */
    z-index: 100;
    /* Coloca o header acima de outros elementos */
}

/* Config da Seção INÍCIO */
#inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 80px 80px 24px 80px;
    position: relative;
}

h1,
h2 {
    font-size: 32px;
    font-weight: 600;
    margin-top: 32px;
}

.paragrafo {
    line-height: 150%;
    margin-bottom: 64px;
}

.botao {
    background-color: #ff9a6c;
    border-radius: 8px;
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;
}

.botao-transparente {
    background-color: transparent;
    color: #ff725e;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.absolute {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    z-index: -10;
}

/* Config da Seção CLÍNICA */

#clinica {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 80px;
    flex-direction: row-reverse;
}

.botao-1 {
    background-color: #ff9a6c;
    border-radius: 8px;
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;

}

.botao-transparente-1 {
    background-color: transparent;
    color: #ff725e;
    padding: 16px 32px;
    text-underline-offset: 4px;

}

ul {
    margin: 16px 32px;
    margin-bottom: 40px;
}

li {
    padding: 5px;
}

.paragrafo-1 {
    line-height: 150%;
    margin-bottom: 16px;
    margin-top: 28px;
}

/* Config da Seção farmacia */
#farmacia {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 32px;
    padding: 80px;
}

.paragrafo-2 {
    line-height: 150%;
    margin: 50px 200px 0px 200px;
    text-align: justify;

}

.h1-2 {
    line-height: 150%;
    margin-bottom: 66px;
    margin-top: 68px;
}

/* Config da Seção duvida */


#duvida {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 80px;
}



.duvida {
    position: relative;
    margin-bottom: 8px;
}


#duvida h2 {
    font-size: 2.5rem; 
    margin-bottom: 24px;
    text-align: left; 
}

.duvida h3 {
    border: 2px solid #ff725e;
    border-radius: 8px;
    padding: 24px;
}

.duvida img{
    position: absolute;
    top: 32px;
    right: 24px;

}

.duvida .paragrafo{
    border-right: 1px solid #FF7258;
    border-bottom: 1px solid #FF7258;
    border-left: 1px solid #FF7258; 
    border-radius: 0 0 8px 8px;
    margin-top: -8px;

    /* Eventos JS... */
    padding: 10px 24px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: .2s;
    position: relative;
    margin-bottom: 8px;
}

.duvida.ativa .paragrafo{
    opacity: 1;
    height: fit-content;
    overflow: 24px;
    padding: 60px 24px 10px 24px;
    position: relative;
    margin-bottom: 8px;
}
    
    



    
